/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900*/

font {
  font-family: 'Handjet', sans-serif;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

.roboto-mono {
  font-family: 'Roboto Mono', monospace;
  font-weight: 400;
  font-style: normal;
}

.orbitron {
  font-family: 'Orbitron', sans-serif;
  font-weight: 900;
  font-style: normal;
}


/* ----------------------------------------------------------------------Global Style ------------------------------------------------*/
body {
    font-family: "Handjet", sans-serif;
    font-weight: 700
}


/* Circle Button - https://stackoverflow.com/questions/38320878/circle-button-css*/

.btn {
    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-weight: 900;
    font-size: 64px;
    color: whitesmoke;
}


/* ----------------------------------------------------------------------body------------------------------------------------*/


/* background https://www.w3schools.com/cssref/css3_pr_background.php*

body {
    background: url("../images/background.webp") no-repeat fixed;
}
*/

/*heading styling*/

#heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*The background for the model 
/* https://www.w3schools.com/howto/howto_css_modals.asp*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content */
  .modal-content {
    background-color: #262262;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  /* The Close Button */
  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
 .modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:  rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-background#modal.active {
    filter: blur(20px);
}

.modal-title {
    color: whitesmoke;
    font-size: 2.9rem;
    font-family: 'Orbitron';
}

.verse {
    font-family: Roboto Mono;
    color: whitesmoke;
    font-size: 1.2em;
}

strong {
    font-family: Orbitron;
    font-size: 1.3em;
}
#heading > h1 {
    font-family: Orbitron;
    font-size: 3rem;
    text-align: center;
}


#heading > h2 {
    font-size: 2rem;
    text-align: center;
}

.how-to-play {
    display: flex;
    justify-content: center;
    font-size: 1.4em;
}

.click-to-play {
    align-self: center;
    text-align: center;
    font-size: 1.2em;
    font-family: Roboto Mono;
}

#outcome > h1{
    text-align: center;
    font-family: 'Orbitron';
    font-size: 1.3em;
}

#winner > h3{
    text-align: center;
    font-family: 'Handjet';
    font-size: 1em;
}


#game-over {
    text-align: center;
    font-family: 'Orbitron';
    color: #a21c16;
}

#instruction-modal {
  padding: 44px 0 0 13px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  color: aliceblue;
  visibility: hidden;
}

#instruction-modal p {
    font-family: barlow, sans-serif;
} 

.instructions-btn {
    color: black;
    z-index: 10;
    font-size: 30px;
    padding: 0 0 0 10px;
    position: fixed;
    display: none;
}


/*-----------selection -------*/

#selection {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.selection-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rock {
    background-color: #4e4577;
    border: none;
}

#paper {
    background-color: #ffbd59;
    border: none;
}

#scissors {
    background-color: #a21c16 ;
    border: none;
}

#lizard {
    background-color: #04814a;
    border: none;
}

#spock {
    background-color: #0a66bb;
    border: none;
}


/* selected hand gestures */
.rock-selected {
   color: #4e4577;
   height: 65px;
   width: 100px;
}

.paper-selected {
    color: #ffbd59;
    height: 65px;
    width: 100px;
}

.scissors-selected {
    color: #a21c16;
    height: 65px;
    width: 100px;
}

.lizard-selected {
    color: #04814a;
    height: 65px;
    width: 100px;
}

.spock-selected {
    color: #0a66bb;
    height: 65px;
    width: 100px;
}

/* visability hidden onload https://www.reddit.com/r/learnjavascript/comments/aw5l96/how_do_i_change_the_display_or_visibility/ */
.user-selection {
    visibility: hidden;
}

#user-choice-img > i {
    display: none;
}

#robot-choice-img > i {
    display: none;
}


/*Sofa styling*/
#sofa {
    display: flex;
    justify-content: center;
}

.fa-couch:before {
    content: "\f4b8";
    font-size: 229px;
    color: #262262
}

#choice-img {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

#user-choice-img, #robot-choice-img {
    display: inline-flex;
    justify-content: center;

}

/*games area*/
#games-area {
    display: flex;
    flex-direction: column;
}
#robot-choice {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-left: 32px;
    align-self: center;
    padding-right: 40px;
}

#user-choice {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding-right: 29px;
    align-self: center;
    order: 2;
}

#scores-player {
    color: #04814a;
    font-weight: 600;
}

#scores-robot {
    color:#0a66bb;
    font-weight: 600;
}

#user-choice-title {
    padding-right: 29px;
    margin-top: 0px;
}

#computer-choice-title {
    right: 29px;
    margin-top: 0px;
}

#outcome-score {
    align-self: center;
}

#restart {
    text-align: center;
    display: none;
}

#score > p {
    font-size: 33px;
}

.selected {
    color: black;
}


@media only screen and (min-width: 564px) {
    #choice-img{
        display: flex;
        flex-direction: row;
        align-items: baseline;
        padding-right: 29px;
        align-self: center;
        }
    
    #user-choice {
        order: 0;
    }
}
 