/* <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 100 to 900*/

font {
  font-family: "Handjet", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-variation-settings:
    "ELGR" 1,
    "ELSH" 2;
}

/* ----------------------------------------------------------------------Global Style ------------------------------------------------*/
body {
    font-family: "Handjet", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700px;
}


/* Circle Button - https://stackoverflow.com/questions/38320878/circle-button-css*/

.btn {
    display:block;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    font-weight: 900;
    font-size: 64px;
    color: whitesmoke;
}


/* ----------------------------------------------------------------------body------------------------------------------------*/


/* background https://www.w3schools.com/cssref/css3_pr_background.php*

body {
    background: url("../images/background.webp") no-repeat fixed;
}
*/

/*heading styling*/

#heading {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

/*The background for the model 
/* https://www.w3schools.com/howto/howto_css_modals.asp*/


 .modal-background {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:  rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-background#modal.active {
    filter: blur(20px);
}


element.style {
    margin-left: 1%;
}

#instruction-modal {
  padding: 44px 0 0 13px;
  border: 1px solid #888;
  width: 100%; /* Could be more or less, depending on screen size */
  color: aliceblue;
}

#instruction-modal p {
    font-family: barlow, sans-serif;
} 

.fa-circle-question {
    color: black;
    z-index: 10;
    font-size: 30px;
    padding: 0 0 0 10px;
    position: fixed;
    display: none;
}


/*-----------selection -------*/

#selection {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.selection-btn {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#rock {
    background-color: #4e4577;
    border: none;
}

#paper {
    background-color: #ffbd59;
    border: none;
}

#scissors {
    background-color: #a21c16 ;
    border: none;
}

#lizard {
    background-color: #04814a;
    border: none;
}

#spock {
    background-color: #0a66bb;
    border: none;
}


/* visability hidden onload https://www.reddit.com/r/learnjavascript/comments/aw5l96/how_do_i_change_the_display_or_visibility/ */
.user-selection {
    visibility: hidden;
}
/*
#user-choice-img > i {
    display: none;
}




/*Sofa styling*/
#sofa {
    display: flex;
    justify-content: center;
}

.fa-couch:before {
    content: "\f4b8";
    font-size: 229px;
    color: #a54114;
}

#choice-img {
    display: flex;
    justify-content: space-around;
}

#user-choice-img, #robot-choice-img {
    display: inline-flex;
    justify-content: center;

}
#robot-choice {
    display: flex;
    flex-direction: column;
    align-items: baseline;
}

#robot-choice-img > i {
    display: none;
}
#user-choice{
display: flex;
flex-direction: column;
align-items: baseline;
padding-right: 29px;

}

#user-choice-title {
    padding-right: 29px;
}

.selected {
    color: black;
}

/* games area outcomes
.selected-rock {
    background-color: #4e4577;
    border: none;
}

.selected-paper {
    background-color: #ffbd59;
    border: none;
}

.selected-scissors {
    background-color: #a21c16 ;
    border: none;
}

.selected-lizard {
    background-color: #04814a;
    border: none;
}

.selected-spock {
    background-color: #0a66bb;
    border: none;
}*/